@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-newsreader), Arial;
  box-sizing: border-box;
}

*,
*:before,
*::after {
  box-sizing: border-box;
}
h1 {
  font-family: var(--font-newsreader);
}

button {
  cursor: pointer;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 15px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #dbdbda;
    margin: 2px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 100vh;
    border: 3px solid #dbdbda;
  }

}

@theme {
  --color-base-100: #161311;
  --color-base-200: #1F1B19;
  --color-base-300: #393431;
  --color-base-350: #2E2927;
  --color-primary: #E9C176;
  --color-primary-hover: #FFDC9C;
  --color-secondary: #261900;
  --color-text-muted: #D1C5B4;
}

@layer utilities {
  .animation-pause {
    animation-play-state: paused;
  }
}

@keyframes slide-left-infinite {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-slide-left-infinite {
  animation: slide-left-infinite 50s linear infinite;
}

.animation-pause {
  animation-play-state: paused;
}